body {
  padding: 0;
  margin:0;
  width:100%;
  height:100%;
  background: #708090, url(./img/00585a3568a0a7d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index:100;
}
.showcase {
  margin-top:75px;
  text-align: center;
  height:300px;
  position: relative;
 }
 .showcase img {
   border-radius:50%;
   border:3px solid gray;
  
 }
 /*font-family: 'Monoton', cursive;
font-family: 'Raleway Dots', cursive;
font-family: 'Unkempt', cursive;
font-family: 'Londrina Outline', cursive;*/
 
 .showcase h1 {
   text-align: center;
   font-size: 5em;
   color:#708090;
   font-family: 'Londrina Outline', cursive;
   width:500px;
   margin: 0 auto;
 }

 .showcase h1:hover {
  background: linear-gradient(-180deg, #fff 60%, rgb(246, 190, 6) 40%);
  background-size :50% auto;
  background-blend-mode: color;
  cursor: pointer;
  z-index:-1;

 }
 .showcase p {
  font-family: 'Unkempt', cursive;
  font-size: 2em;
 }
.showcase .decoration-image {
  background-image: url(./img/17578603ad057f3.jpg);
  width:500px;
  height: 100vh;
  position:absolute;
  top:-100px;
  right:0;
  z-index:-1;
  background-color: #050e16;

}



    
